.single-input {
    position: relative;
    
    input {
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1.1rem;
        padding: 12px 20px; 
        width: 100%;
        

        &:focus {
            outline: none;
            border-color: rgb(16, 80, 154);
        }
    }

    .is-invalid {
        border-color: rgb(171, 0, 0);
        color: rgb(171, 0, 0);
    }

    .is-error-icon {
        visibility: visible !important;
    }

    .error-icon {
        position: absolute;
        top: 16px;
        left: calc(27vw - 35px);
        color: rgb(171, 0, 0);
        visibility: hidden;
    }
}