@import url("./app/styles/mainStyle.css");
/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    display: none;
}

body {
    scrollbar-width: none;
    overflow-y: scroll;
    font-family: sans-serif;
    
    background-color: var(--light-background-color-for-main-style);
}