@if(member) {
<div class="edit-container">
    <div class="top-section">
        <div class="left-side-top">
            <h1>Your profile</h1>
        </div>
        @if(editForm.dirty)
        {
        <div class="right-side-top">
            <p>
                <strong>Information: </strong>
                You have made changes. Any unsaved changes will be lost
            </p>
        </div>
        }
    </div>
    <div class="user-container">
        <div class="left-side">
            <img src="{{member.generalPhotoUrl || './assets/user.png'}}" alt="User's photo">
            <div class="info-container">
                <div class="info">
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div class="info">
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div class="info">
                    <strong>LastActive:</strong>
                    <p>{{member.lastActive}}</p>
                </div>
                <div class="info">
                    <strong>MemberSince:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
            <div class="buttons-container">
                <button 
                    [disabled]="!editForm.dirty"
                    type="submit" 
                    form="editForm" 
                    class="save-button">
                    Save changes
                </button>
            </div>
        </div>
        <div class="right-side">
            <tabset class="member-tabset" #memberTabs>
                <tab heading="About {{member.knownAs}} and Edit photos" #photoTab="tab">
                    <div class="about-container">
                        <form id="editForm" #editForm="ngForm" (ngSubmit)="updateMember()">
                            <h4>Description</h4>
                            <textarea [(ngModel)]="member.description" name="description" rows="6"></textarea>
                            <h4>Interests</h4>
                            <textarea [(ngModel)]="member.interests" name="interests" rows="6"></textarea>
                            <h4>Location Details</h4>
                            <div class="location-details-section">
                                <div class="location-details-input">
                                    <label for="city">City: </label>
                                    <input type="text" name="city" [(ngModel)]="member.city">
                                </div>
                                <div class="location-details-input">
                                    <label for="country">Country: </label>
                                    <input type="text" name="country" [(ngModel)]="member.country">
                                </div>
                            </div>
                        </form>
                    </div>
                </tab>
                <tab heading="User's Posts">
                    <div class="posts-section">
                        <div class="posts-container">
                            @for (post of posts; track post.id) {
                            <div class="single-offer">
                                <app-member-offer-card [post]="post"> </app-member-offer-card>
                            </div>
                            }
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
}