<div class="user-management-container">
    <table>
        <thead>
            <tr>
                <th class="table-username">Username</th>
                <th class="table-roles">Active roles</th>
                <th class="table-actions"></th>
            </tr>
        </thead>
        <tbody>
            @for(user of users; track user.username) {
            <tr class="single-row">
                <td>{{user.username | titlecase}}</td>
                <td>{{user.roles}}</td>
                <td>
                    <button (click)="openRolesModel(user)" class="btn-edit-role"> Edit roles </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>