@if(post) {
<!-- <div class="container">
    <form #editForm="ngForm" (ngSubmit)="updatePost()">
        <div class="form-group">
            <input type="text" id="title" [(ngModel)]="post.title" name="title" class="edit-post-input"
                placeholder="Place name" required />
        </div>

        <div class="form-group">
            <input type="text" id="locationCountry" [(ngModel)]="post.locationCountry" name="locationCountry"
                class="edit-post-input" placeholder="The country of this place" />
        </div>

        <div class="form-group">
            <input type="text" id="locationCity" [(ngModel)]="post.locationCity" name="locationCity"
                class="edit-post-input" placeholder="The region of this place" />
        </div>

        <div class="form-group">
            <input type="text" id="lastCountry" [(ngModel)]="post.lastCountry" name="lastCountry"
                class="edit-post-input" placeholder="Last visited country before the journey" />
        </div>

        <div class="form-group">
            <input type="text" id="lastCity" [(ngModel)]="post.lastCity" name="lastCity" class="edit-post-input"
                placeholder="Last visited city before the journey" />
        </div>

        <div class="edit-post-checkbox-wrapper form-check-inline">
            <label class="edit-post-checkbox-container">
                <input type="checkbox" [(ngModel)]="post.localTransport" name="localTransport" />
                <span class="checkmark"></span>
            </label>
            <label class="edit-post-checkbox-label" for="localTransport">
                Did you use local transport to get to your trip?
            </label>
        </div>

        <div *ngIf="post.localTransport">
            <div class="form-group">
                <label for="minPriceLocalTrans" class="edit-post-input-label">Low price service</label>
                <input type="number" id="minPriceLocalTrans" [(ngModel)]="post.minPriceLocalTrans"
                    name="minPriceLocalTrans" class="edit-post-input" />
            </div>

            <div class="form-group">
                <label for="maxPriceLocalTrans" class="edit-post-input-label">High price service</label>
                <input type="number" id="maxPriceLocalTrans" [(ngModel)]="post.maxPriceLocalTrans"
                    name="maxPriceLocalTrans" class="edit-post-input" />
            </div>

            <div class="form-group">
                <label for="travelTime" class="edit-post-input-label">Approximately, the journey took</label>
                <input type="number" id="travelTime" [(ngModel)]="post.travelTime" name="travelTime"
                    class="edit-post-input" />
            </div>
        </div>



        <button type="submit" class="edit-post-btn" [disabled]="editForm?.pristine || editForm?.invalid">
            Edit post
        </button>
    </form>
</div> -->
<div class="container">
    <form #editForm="ngForm" (ngSubmit)="updatePost()">
        <div class="form-group">
            <input type="text" id="title" [(ngModel)]="post.title" name="title" class="edit-post-input"
                placeholder="Place name" required />
        </div>

        <div class="form-group">
            <input type="text" id="locationCountry" [(ngModel)]="post.locationCountry" name="locationCountry"
                class="edit-post-input" placeholder="The country of this place" />
        </div>

        <div class="form-group">
            <input type="text" id="locationCity" [(ngModel)]="post.locationCity" name="locationCity"
                class="edit-post-input" placeholder="The region of this place" />
        </div>

        <div class="form-group">
            <input type="text" id="lastCountry" [(ngModel)]="post.lastCountry" name="lastCountry"
                class="edit-post-input" placeholder="Last visited country before the journey" />
        </div>

        <div class="form-group">
            <input type="text" id="lastCity" [(ngModel)]="post.lastCity" name="lastCity" class="edit-post-input"
                placeholder="Last visited city before the journey" />
        </div>

        <div class="edit-post-checkbox-wrapper form-check-inline">
            <label class="edit-post-checkbox-container">
                <input type="checkbox" [(ngModel)]="post.localTransport" name="localTransport" />
                <span class="checkmark"></span>
            </label>
            <label class="edit-post-checkbox-label" for="localTransport">
                Did you use local transport to get to your trip?
            </label>
        </div>
        @if(post.localTransport) {
        <div class="form-group">
            <label for="minPriceLocalTrans" class="edit-post-input-label">Low price service</label>
            <input type="number" id="minPriceLocalTrans" [(ngModel)]="post.minPriceLocalTrans" name="minPriceLocalTrans"
                class="edit-post-input" />
        </div>

        <div class="form-group">
            <label for="maxPriceLocalTrans" class="edit-post-input-label">High price service</label>
            <input type="number" id="maxPriceLocalTrans" [(ngModel)]="post.maxPriceLocalTrans" name="maxPriceLocalTrans"
                class="edit-post-input" />
        </div>

        <div class="form-group">
            <label for="travelTime" class="edit-post-input-label">Approximately, the journey took</label>
            <input type="number" id="travelTime" [(ngModel)]="post.travelTime" name="travelTime"
                class="edit-post-input" />
        </div>
        }

        <div class="edit-post-checkbox-wrapper form-check-inline">
            <label class="edit-post-checkbox-container">
                <input type="checkbox" [(ngModel)]="post.entranceFee" name="entranceFee" />
                <span class="checkmark"></span>
            </label>
            <label class="edit-post-checkbox-label" for="entranceFee">Entrance was paid?</label>
        </div>

        @if(post.entranceFee)
        {
        <div class="form-group">
            <label for="minPriceEntrFee" class="edit-post-input-label">Low price for entrance</label>
            <input type="number" id="minPriceEntrFee" [(ngModel)]="post.minPriceEntrFee" name="minPriceEntrFee"
                class="edit-post-input" />
        </div>

        <div class="form-group">
            <label for="maxPriceEntrFee" class="edit-post-input-label">High price for entrance</label>
            <input type="number" id="maxPriceEntrFee" [(ngModel)]="post.maxPriceEntrFee" name="maxPriceEntrFee"
                class="edit-post-input" />
        </div>
        }


        <div class="edit-post-checkbox-wrapper form-check-inline">
            <label class="edit-post-checkbox-container">
                <input type="checkbox" [(ngModel)]="post.placeStay" name="placeStay" />
                <span class="checkmark"></span>
            </label>
            <label class="edit-post-checkbox-label" for="placeStay">Accommodation?</label>
        </div>

        @if(post.placeStay)
        {
        <div class="form-group">
            <label for="minPricePlaceStay" class="edit-post-input-label">Low price for accommodation</label>
            <input type="number" id="minPricePlaceStay" [(ngModel)]="post.minPricePlaceStay" name="minPricePlaceStay"
                class="edit-post-input" />
        </div>

        <div class="form-group">
            <label for="maxPricePlaceStay" class="edit-post-input-label">High price for accommodation</label>
            <input type="number" id="maxPricePlaceStay" [(ngModel)]="post.maxPricePlaceStay" name="maxPricePlaceStay"
                class="edit-post-input" />
        </div>

        <div class="form-group">
            <select id="typePlaceStay" [(ngModel)]="post.typePlaceStay" name="typePlaceStay" class="edit-post-select">
                <option class="edit-post-option" value="" disabled selected>Choose type of accommodation...</option>
                <option class="edit-post-option" value="Camping">Camping</option>
                <option class="edit-post-option" value="Hotel">Hotel</option>
                <option class="edit-post-option" value="Hostel">Hostel</option>
            </select>
        </div>
        }

        <div class="edit-post-checkbox-wrapper form-check-inline">
            <label class="edit-post-checkbox-container">
                <input type="checkbox" [(ngModel)]="post.groceryStore" name="groceryStore" />
                <span class="checkmark"></span>
            </label>
            <label class="edit-post-checkbox-label" for="groceryStore">Grocery stores nearby?</label>
        </div>

        @if(post.groceryStore)
        {
        <div class="form-group">
            <label for="minPriceGroceryStore" class="edit-post-input-label">Low price for grocery</label>
            <input type="number" id="minPriceGroceryStore" [(ngModel)]="post.minPriceGroceryStore"
                name="minPriceGroceryStore" class="edit-post-input" />
        </div>

        <div class="form-group">
            <label for="maxPriceGroceryStore" class="edit-post-input-label">High price for grocery</label>
            <input type="number" id="maxPriceGroceryStore" [(ngModel)]="post.maxPriceGroceryStore"
                name="maxPriceGroceryStore" class="edit-post-input" />
        </div>
        }

        <div class="edit-post-checkbox-wrapper form-check-inline">
            <label class="edit-post-checkbox-container">
                <input type="checkbox" [(ngModel)]="post.guide" name="guide" />
                <span class="checkmark"></span>
            </label>
            <label class="edit-post-checkbox-label" for="guide">Guide services?</label>
        </div>

        @if(post.guide)
        {
        <div class="form-group">
            <label for="minPriceGuide">Low price for services</label>
            <input type="number" id="minPriceGuide" [(ngModel)]="post.minPriceGuide" name="minPriceGuide"
                class="edit-post-input" />
        </div>

        <div class="form-group">
            <label for="maxPriceGuide">High price for services</label>
            <input type="number" id="maxPriceGuide" [(ngModel)]="post.maxPriceGuide" name="maxPriceGuide"
                class="edit-post-input" />
        </div>
        }


        <div class="form-group">
            <input type="text" id="currency" [(ngModel)]="post.currency" name="currency" class="edit-post-input"
                placeholder="Currency" />
        </div>

        <div class="form-group">
            <textarea id="description" [(ngModel)]="post.description" name="description" class="edit-post-textarea"
                rows="4" placeholder="Add description..."></textarea>
        </div>

        <button type="submit" class="edit-post-btn" [disabled]="editForm?.pristine || editForm?.invalid">
            Edit post
        </button>
    </form>
</div>

}