<div class="offer-container">
    <div class="photo-container">
        <img src="{{post?.photoUrl}}" alt="{{post?.title}}">
        <div class="location-overlay">
            <p><i class="fa fa-map-marker me-1"></i> {{post?.country}}, {{post?.city}}</p>
        </div>
    </div>
    <div class="info">
        <div class="info-row-1-left">
            <div class="user-info" routerLink="/member/{{post?.userName}}">
                <i class="fa fa-user"></i>
                <h5><b>{{post?.userName | titlecase}}</b></h5>
            </div>
            <div class="icon-buttons">
                <i class="fa fa-heart"></i>
                <i class="fa fa-ellipsis-h" routerLink="/offers/{{post?.id}}"></i>
            </div>
        </div>
        <div class="info-row-2-left">
            <div class="place-info">
                <h5>{{post?.country}}, {{post?.city}}</h5> – <h5>{{post?.title}}</h5>
            </div>
        </div>
        <div class="info-row-3-left">
            <div class="desc-info">
                <h6>{{post?.description}}</h6>
            </div>
        </div>
    </div>
</div>