<!-- @if(member) {
    <div class="details-container">
        <div class="left-side">
            <img src="{{member.generalPhotoUrl || './assets/user.png'}}" alt="User's photo">
            <div class="info-container">
                <div class="info">
                    <strong>{{"Location"}}:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div class="info">
                    <strong>{{"Age"}}:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div class="info">
                    <strong>{{"LastActive"}}:</strong>
                    <p>{{member.lastActive}}</p>
                </div>
                <div class="info">
                    <strong>{{"MemberSince"}}:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
            <div class="buttons-container">
                <button routerLink="/member/edit-profile" class="edit-profile-button">
                    edit profile
                </button>
                <button class="message-button">
                    <i class="fa fa-comment"> message</i>
                </button>
            </div>
        </div>
        <div class="right-side">
            <tabset class="member-tabset" #memberTabs>
                <tab heading="User's Posts">
                    <div class="posts-section">
                        <div class="posts-container">
                            @for (post of posts; track post.id) {
                                <div  class="single-offer">
                                    <app-member-offer-card [post]="post"> </app-member-offer-card>
                                </div>
                                }
                        </div>
                    </div>
                </tab>
                <tab heading="About {{member.knownAs}}" #photoTab="tab">
                    <div class="photos-container">
                        @if (photoTab.active) {
                            <gallery [items]="images" class="users-gallery"></gallery>
                        }
                    </div>
                    <div class="about-container">
                        <h4>{{"Description" }}</h4>
                        <p>{{member.description}}</p>
                        <h4>{{"Interests"}}</h4>
                        <p>{{member.interests}}</p>
                    </div>
                </tab>
                <tab heading="Messages">
                    <div class="messages-container">
                        Message
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
} -->



@if(member) {
<div class="profile-container">
    <div class="profile-member-container">
        <div class="user-container">
            <div class="left-side">
                <img src="{{member.generalPhotoUrl || './assets/user.png'}}" alt="User's photo">
                <div class="info-container">
                    <div class="info">
                        <strong>Location:</strong>
                        @if(!member.city && member.country) {
                            <p>{{member.city}}, {{member.country}}</p>
                        }
                    </div>
                    <div class="info">
                        <strong>Age:</strong>
                        <p>{{member.age}}</p>
                    </div>
                    <div class="info">
                        <strong>Last Active:</strong>
                        <p>{{member.lastActive | timeago}}</p>
                    </div>
                    <div class="info">
                        <strong>Member Since:</strong>
                        <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                    </div>
                </div>
                <div class="buttons-container-left-side">
                    <button routerLink="/member/edit-profile" class="edit-profile-button">
                        Edit profile
                    </button>
                    <button class="message-button">
                        <i class="fa fa-comment"> Message</i>
                    </button>
                </div>
            </div>
            <div class="right-side">
                <tabset class="member-tabset" #memberTabs>

                    <tab heading="{{member.knownAs}}'s Posts">
                        <div class="posts-section">
                            <div class="add-post-container">
                                <h5>Want to share your journey?</h5>
                                <div class="buttons-container-right-side">
                                    <button class="add-post-button" routerLink="/add-offer">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            @if(posts.length === 0)
                            {
                                <div class="no-posts-container">
                                    <h3>No posts yet</h3>
                                </div>
                            }
                            @if(posts.length >= 1)
                            {
                                <div class="posts-container">
                                    @for (post of posts.slice().reverse(); track post.id) {
                                        <div class="single-offer">
                                            <app-member-profile-offer-card [postE]="post" (postDeleted)="onPostDeleted($event)"> </app-member-profile-offer-card>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </tab>

                    <tab heading="About {{member.knownAs}}" #photoTab="tab">
                        <div class="about-section">
                            <div class="about-container">
                                <div class="photos-container-row1">
                                    @if (photoTab.active && this.accountService.currentUser()?.generalPhotoUrl != null) {
                                        <gallery [items]="images" class="users-gallery"></gallery>
                                    }
                                    @if(this.accountService.currentUser()?.generalPhotoUrl == null) {
                                        <gallery [items]="images" class="users-gallery-is-null"></gallery>
                                    }
                                </div>
                                <div class="about-container-row2">
                                    <h4>Description: </h4>
                                    <p>{{member.description}}</p>
                                    <h4>Interests: </h4>
                                    <p>{{member.interests}}</p>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <!-- <tab heading="Messages">
                        <div class="message-section">
                            <div class="message-container">
                                <app-member-messages [username]="member.username" [messages]="messages"></app-member-messages>
                            </div>
                        </div>
                    </tab> -->
                </tabset>
            </div>
        </div>
    </div>
</div>
}