<div class="offer-container">
    <div class="photo-container">
      <img src="{{post().url}}" alt="{{post().title}}" routerLink="/offers/{{post().id}}">
      <div class="location-overlay">
        <p><i class="fa fa-map-marker me-1"></i> {{post().locationCountry}}, {{post().locationCity}}</p>
      </div>
    </div>
    <div class="info">
      <div class="info-row-1-left">
        <div class="title-info">
          <h6>{{post().title}}</h6>
        </div>
        <div class="icon-buttons">
          <i class="fa fa-heart"></i>
          <i class="fa fa-ellipsis-h" routerLink="/offers/{{post().id}}"></i>
        </div>
      </div>
    </div>
  </div>