.offer-container {
    border: 1px rgb(201, 201, 201) solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Вирівнюємо вміст у картці */
    box-shadow: 0px 0px 10px -6px black;
    height: 100%; /* Контейнер займатиме 100% висоти батьківського елемента */
    
    /* Додаємо однакову висоту для всіх карток */
    .photo-container {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 200px; /* Фіксована висота для всіх зображень */
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Забезпечує заповнення контейнера зображенням без спотворення */
      }
  
      .location-overlay {
        position: absolute;
        bottom: 10px;
        left: 10px;
        background: rgba(0, 0, 0, 0.5);
        padding: 5px 10px;
        border-radius: 5px;
  
        p {
          color: white;
          font-weight: bold;
          font-size: 1.1rem;
          margin: 0;
          display: flex;
          align-items: center;
  
          i {
            margin-right: 5px;
          }
        }
      }
    }
  
    .info {
      width: 100%;
      padding: 1rem;
      flex-grow: 1; /* Дозволяємо інформаційному блоку займати доступний простір */
      display: flex;
      flex-direction: column;
      justify-content: space-between; /* Вирівнюємо інформацію по вертикалі */
  
      .info-row-1-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .title-info {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;
          color: rgb(0, 0, 0);
  
          h6 {
            margin: 0;
          }
        }
  
        .icon-buttons {
          display: flex;
          gap: 0.5rem;
          i {
            font-size: 1.5rem;
            color: rgb(0, 0, 0);
            cursor: pointer;
          }
        }
      }
  
      .info-row-2-left {
        text-align: left;
      }
    }
  }
  