<nav>
    <a class="app-title" href="#">EW</a>
    <ul class="nav-items">
        <li class="nav-item">
            <a class="nav-item-link" href="#">Offers</a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" href="#">Messages</a>
        </li>
    </ul>
    <form  class="login-form" autocomplete="off">
        <input name="username"  class="login-input" type="text" placeholder="Username">
        <input name="password"  class="login-input" type="password" placeholder="Password">
        <button class="login-btn" type="submit">Login</button>
    </form>
</nav>