<nav>
    <a class="app-title" href="#">EW</a>

    @if(accountService.currentUser()) {
    <ul class="nav-items">
        <li class="nav-item">
            <a class="nav-item-link" href="#">Offers</a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" href="#">Messages</a>
        </li>
    </ul>
    }

    @if(accountService.currentUser()) {
        <div dropdown class="dropdown">
            <a dropdownToggle class="dropdown-toggle">Welcome user</a>
            <div *dropdownMenu class="dropdown-menu">
                <a class="dropdown-item">Edit profile</a>
                <a class="dropdown-item">Settings</a>
                <a class="dropdown-item" (click)="logout()" >Logout</a>
            </div>
        </div>
    }

    @if(!accountService.currentUser()) {
    <form #loginForm="ngForm" (ngSubmit)="login()" class="login-form" autocomplete="off">
        <input name="username" [(ngModel)]="model.username" class="login-input" type="text" placeholder="Username">
        <input name="password" [(ngModel)]="model.password" class="login-input" type="password" placeholder="Password">
        <button class="login-btn" type="submit">Login</button>
    </form>
    }
</nav>