.recommendations-section {
  text-align: left; 
  margin-bottom: 20px; 

  h2 {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #333; 
    margin: 0; 
  }
}

.offers-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 колонки
  grid-gap: 20px; // Простір між картками
  padding: 20px;

   @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr); // 2 колонки на середніх екранах
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr; // 1 колонка на маленьких екранах
  }
}