div {

    .btn-test-error {
        height: 33px;
        border-radius: 6px;
        margin: 1rem .5rem;
        padding: .3rem 1rem;
        border: 1px rgb(238, 34, 34) solid;
        background-color: transparent;
        color: rgb(238, 34, 34);
        transition: .2s;

        &:hover {
            background-color: rgb(238, 34, 34);
            color: white;
        }
    }

    .errors-container {
        width: 100%;
        display: flex;
        justify-content: left;

        ul {
            li {
                color: red;
            }
        }
    }
}