@if(!registerMode){
<div class='login-page'>
    <main class='common-card'>
        <aside class='left-side'>
            <!-- <h1>Welcome on EW!</h1> -->
            <div class="greeting-img">Welcome on EW!</div>
            <div class='list'>
                <h4>What can you do on EW?</h4>
                <ul>
                    <li>Share photos of the places you've visited.</li>
                    <li>Connect with like-minded people and share experiences.</li>
                    <li>Discover new places.</li>
                </ul>
            </div>
            <span>Do not you have an account?</span>
            <button (click)="registerToggle()" class="register-btn">Register</button>
        </aside>
        <aside class='right-side'>
            <h1>Log in</h1>
            <form #loginForm="ngForm" (ngSubmit)="login()" class="login-form" autocomplete="off">
                <input 
                    name="username" 
                    [(ngModel)]="model.username" 
                    class="login-input" 
                    type="text"
                    placeholder="Username"
                >
                <div class="input-group">
                    <input
                        id="password"
                        name="password"
                        [(ngModel)]="model.password"
                        class="login-input"
                        [type]="showPassword ? 'text' : 'password'"
                        placeholder="Password"
                    />
                    <div class="input-group-append">
                        <button
                        class="btn-eye btn-outline-secondary"
                        type="button"
                        (click)="togglePasswordVisibility()"
                        >
                        <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </button>
                    </div>
                </div>
                <button class="login-btn" type="submit">Login</button>
            </form>
        </aside>
    </main>
</div>
}
@else {
<div class="container mt-5">
    <div style="text-align: center;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <app-register (cancleRegister)="cancelRegisterMode($event)"></app-register>
                </div>
            </div>
        </div>
    </div>
</div>
}