.login-page {
    display: flex;
    align-items: center; //verticaly
    justify-content: center; //horizontal
    margin-top: 8rem;//Odstep od navBar

    .common-card {
        display: flex;
        width: 70%;
        min-height: 400px;

        .left-side {
            flex: 1;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            h1 {
                font-size: 60px;
                color: black;
            }

            .list {
                h4 {
                    margin-bottom: 12px;
                    color: black;
                }

                ul {
                    li {
                        margin-top: 5px;
                        margin-left: 13px;
                        color: black;
                    }
                }
            }

            span {
                font-size: 14px;
                color: black;
            }

            .register-btn {
                height: 53px;
                border-radius: 5px;
                background-color: green;
                border: 1px white solid;
                color: white;
                padding: 0 1rem;
                transition: background-color .3s ease;

                &:hover {
                    background-color: black;
                    color: white;   
                }
            }
        }

        .right-side {
            flex: 1;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1 {
                font-size: 40px;
                font-weight: 750;
                color: black;
            }

            .login-form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .login-input {
                    border: 1px solid #ccc;
                    height: 53px;
                    margin-right: .5rem;
                    border-radius: 5px;
                    font-size: 1.1rem;
                    padding: 12px 20px; 
                    width: 100%;

                    &:focus {
                        outline: none;
                        border-color:black;
                    }
                }

                .login-btn {
                    height: 53px;
                    border-radius: 5px;
                    background-color: rgb(34, 100, 159);
                    border: 1px white solid;
                    color: white;
                    padding: 0 1rem;
                    transition: background-color .3s ease;

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    }
}