<div class="liked-posts-container">
    <div class="title-section">
        <h1>Posts you like</h1>
    </div>
    <div *ngIf="posts.length > 0; else noPosts">
        <div class="offers-container">
            @for (post of posts; track post.id) {
            <div class="single-offer">
                <app-offer-card [post]="post"> </app-offer-card>
            </div>
            }
        </div>
    </div>
    <ng-template #noPosts>
        <p>You have not liked any posts yet.</p>
    </ng-template>
</div>