<div class="single-input">
    <input 
        class="post-text-input"
        [class.is-invalid]="control.touched && control.invalid" 
        [type]="type()"
        [formControl]="control"
        placeholder={{placeholder()}}>
    <i class="fa fa-exclamation error-icon" [class.is-error-icon]="ngControl.touched && ngControl.invalid">
    </i>

    <div 
        *ngIf="control.hasError('required')" 
        class="invalid-feedback">Please enter a {{label()}}
    </div>
    
    <div 
        *ngIf="control.hasError('minlength')" 
        class="invalid-feedback error-validation">
        {{label()}} must be at least {{control.errors?.['minlength'].minlength}} characters
    </div>

    <div 
        *ngIf="control.hasError('maxlength')" 
        class="invalid-feedback">
        {{label()}} must be at most {{control.errors?.['maxlength'].maxlength}} characters
    </div>
</div>