/* Old Version! */
/*
.offer-container {
    border: 1px rgb(201, 201, 201) solid;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px -6px black;
    // min-height: 500px;

    .offer-info-top {
        margin: 5px auto auto 10px;
        display: flex;
        flex-direction: column;
        align-items: start;

        h6 {
            cursor: pointer;
            .person-icon {
                color: rgb(44, 44, 44);
                position: relative;
                top: 5px;
            }
        }
    }

    .photo-container {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 200px; // Фіксована висота для всіх зображень

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; // Забезпечує, що зображення заповнює контейнер без спотворення
        }

        .location-overlay {
            position: absolute;
            bottom: 10px;
            left: 10px;
            background: rgba(0, 0, 0, 0.5);
            padding: 5px 10px;
            border-radius: 5px;

            p {
                color: white;
                font-weight: bold;
                font-size: 1.1rem;
                margin: 0;
                display: flex;
                align-items: center;

                i {
                    margin-right: 5px;
                }
            }
        }
    }

    .info {
        flex-grow: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;

        .icons {
            display: flex;
            justify-content: center;
            gap: 13px;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                width: auto;
            }

            .icon-btn {
                background-color: rgb(0,0,0);
                border: none;
                padding: 5px 10px;
                border-radius: 10%;
                color: white;
                cursor: pointer;
            }
        }
    }
}
*/

.offer-container {
    border: 1px rgb(201, 201, 201) solid;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px -6px black;

    .photo-container {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 250px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }

        .location-overlay {
            position: absolute;
            bottom: 10px;
            left: 10px;
            background: rgba(0, 0, 0, 0.5);
            padding: 5px 10px;
            border-radius: 5px;

            p {
                color: white;
                font-weight: bold;
                font-size: 1.1rem;
                margin: 0;
                display: flex;
                align-items: center;

                i {
                    margin-right: 5px;
                }
            }
        }
    }

    .info {
        width: 100%;
        padding: 1rem;

        .info-row-1-left {
            display: flex;
            justify-content: space-between;
            /* Розділяємо ім'я користувача та іконки */
            align-items: center;

            .user-info {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;
                color: rgb(0, 0, 0);

                i {
                    font-size: 1.5rem;
                }

                h5 {
                    margin: 0;
                }
            }

            .icon-buttons {
                display: flex;
                gap: 0.5rem;

                i {
                    font-size: 1.5rem;
                    color: rgb(0, 0, 0);
                    cursor: pointer;
                }
            }
        }

        .info-row-2-left {
            text-align: left;
            padding-top: 0.5rem;
        }
    }
}