.details-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .left-side {
        width: 300px;
        border: 1px rgb(181, 181, 181) solid;
        border-radius: 10px;
        box-shadow: 0px 0px 8px -4px rgb(16, 50, 145);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;

        img {
            width: 100%;
        }

        .info-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: .5rem .5rem;
        }

        
        .buttons-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;

            button {
                width: 136px;
                transition: .2s;
                border-radius: 5px;
            }

            .message-button {
                border: 1px rgb(16, 80, 154) solid;
                background-color: rgb(16, 80, 154);
                color: white;
                
                .icon {
                    position: relative;
                    top: 4px;
                    font-size: 20px;
                    transition: .2s;
                }

                &:hover {
                    .icon {
                        transform: scale(120%);
                    }
                }
            }
        }
    }

    .right-side {
        width: 60vw;

        .about-container {
            min-height: 560px;
            color: black;
            display: flex;
            flex-direction: column;
            padding: 0 2rem;

            h4 {
                margin-top: 10px
            }

            p {
                width: 500px;
            }
        }

        .photos-container {
            min-height: 560px;
            color: black;
            display: flex;
            flex-direction: column;
            padding: 0 2rem;

            h4 {
                margin-top: 10px
            }

            p {
                width: 500px;
            }
        }

        .messages-container {
            min-height: 560px;
            color: black;
            display: flex;
            flex-direction: column;

            h4 {
                margin-top: 10px
            }

            p {
                width: 500px;
            }
        }
    }

    .posts-section {
        width: 100%;
        margin-top: 2rem;
    
        .posts-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); // 3 стовпці
            gap: 1rem;
    
            .post-card {
                border: 1px solid #ccc;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0px 0px 8px -4px rgb(16, 50, 145);
    
                img {
                    width: 100%;
                    height: auto;
                }
    
                .post-info {
                    padding: 1rem;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}