<!-- Old version -->
<!-- @if (member) {
<div class="details-container">
    <div class="left-side">
        <img src="{{member.generalPhotoUrl || './assets/user.png'}}" alt="User's photo">
        <div class="info-container">
            <div class="info">
                <strong>{{"Location"}}:</strong>
                <p>{{member.city}}, {{member.country}}</p>
            </div>
            <div class="info">
                <strong>{{"Age"}}:</strong>
                <p>{{member.age}}</p>
            </div>
            <div class="info">
                <strong>{{"LastActive"}}:</strong>
                <p>{{member.lastActive}}</p>
            </div>
            <div class="info">
                <strong>{{"MemberSince" }}:</strong>
                <p>{{member.created}}</p>
            </div>
        </div>
        <div class="buttons-container">
            <button class="message-button">
                <i class="fa fa-comment"> Send a message</i>
            </button>
        </div>
    </div>
    <div class="right-side">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="About {{member.knownAs}}">
                <div class="about-container">
                    <h4>{{"Description" }}</h4>
                    <p>{{member.description}}</p>
                    <h4>{{"Interests"}}</h4>
                    <p>{{member.interests}}</p>
                </div>
            </tab>
            <tab heading="Photos" #photoTab="tab">
                <div class="photos-container">
                    @if (photoTab.active) {
                        <gallery [items]="images" class="users-gallery"></gallery>
                    }
                </div>
            </tab>
            <tab heading="Messages">
                <div class="messages-container">
                    Message
                </div>
            </tab>
        </tabset>
    </div>

    <div class="posts-section">
        <h3>User's Posts</h3>
        <div class="posts-container">
            @for (post of posts; track post.id) {
                <div  class="single-offer">
                    <app-member-offer-card [post]="post"> </app-member-offer-card>
                </div>
                }
        </div>
    </div>
</div>
} -->

@if(member) {
<div class="detail-container">
    <div class="detail-member-container">
        <div class="user-container">
            <div class="left-side">
                <img src="{{member.generalPhotoUrl || './assets/user.png'}}" alt="User's photo">
                <div class="info-container">
                    <div class="info">
                        <strong>Location:</strong>
                        <p>{{member.city}}, {{member.country}}</p>
                    </div>
                    <div class="info">
                        <strong>Age:</strong>
                        <p>{{member.age}}</p>
                    </div>
                    <div class="info">
                        <strong>Last Active:</strong>
                        <p>{{member.lastActive | timeago}}</p>
                    </div>
                    <div class="info">
                        <strong>Member Since:</strong>
                        <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="message-button">
                        <i class="fa fa-comment"> Send a message</i>
                    </button>
                </div>
            </div>
            <div class="right-side">
                <tabset class="member-tabset" #memberTabs>

                    <tab heading="{{member.knownAs}}'s Posts">
                        <div class="posts-section">
                            <div class="posts-container">
                                @for (post of posts.slice().reverse(); track post.id) {
                                        <div class="single-offer">
                                            <app-member-offer-card [post]="post"> </app-member-offer-card>
                                        </div>
                                }                       
                            </div>
                        </div>
                    </tab>

                    <tab heading="About {{member.knownAs}}" #photoTab="tab">
                        <div class="about-section">
                            <div class="about-container">
                                <div class="photos-container-row1">
                                    @if (photoTab.active) {
                                    <gallery 
                                    [items]="images"
                                    [itemAutosize]="true" 
                                    class="users-gallery"></gallery>
                                    }
                                </div>
                                <div class="about-container-row2">
                                    <h4>{{"Description" }}</h4>
                                    <p>{{member.description}}</p>
                                    <h4>{{"Interests"}}</h4>
                                    <p>{{member.interests}}</p>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Messages">
                        <div class="message-section">
                            <div class="message-container">
                                Message
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
}